.menu-header{
    color: white;
    text-align: center;
    font-size: large;
    background-color: darkgray;
    padding: 1.5rem 0rem;
    font-weight: 500;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2rem;
}